:root {
  --speration-bars-clr: #ff4d5a;
  --slide-bar-clr: #ff4671;
  --slide-cover-clr: #251330;
}

/* general layout rules for each page */
section {
  padding-top: 10vh;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 3fr 2fr;
  place-items: center;
  position: relative;
}

section img {
  width: 100%;
  height: 100%;
}

/* landing page */
#landing {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

#hero {
  width: 80%;
  transition: transform 0.8s ease-out;
}

.slogan {
  align-self: start;
  justify-self: start;
  margin: 0 3rem;
  color: white;
  transition: opacity 0.5s ease-out;
}

.slogan h1 {
  position: relative;
  font-size: 3rem;
  margin-bottom: 1.7rem;
  transition: transform 0.8s ease-out;
}

.slogan p {
  position: relative;
  transition: transform 0.8s ease-out 0.3s;
}

/* speration bars between title and slogan */
.slogan h1::after,
.slogan p::before {
  content: "";
  width: 65px;
  height: 4px;
  background: var(--speration-bars-clr);
  position: absolute;
}

.slogan h1::after {
  bottom: -10px;
  left: 0px;
}

.slogan p::before {
  top: -10px;
  left: 30px;
}

.hide {
  transform: translateX(-100vw);
}

.hide.enter {
  transform: translateX(0vw);
}

/* section indication bars in the bottom of the page */
#section-bars {
  height: 8vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
  transition: opacity 0.4s ease-out;
}

.bar {
  height: 18px;
  width: 3px;
  background-color: white;
  margin: 0 1.5rem;
  cursor: pointer;
  transition: height 0.3s ease-out;
}

.bar.active {
  height: 30px;
}

#arrow {
  position: absolute;
  top: -3vh;
  right: -1.3vw;
  transform: rotate(90deg);
  color: white;
  opacity: 1;
  transition: opacity 1s ease-out, transform 1s ease-out;
  cursor: pointer;
}

#arrow.gone {
  opacity: 0;
  transform: rotate(90deg) translateX(200px);
}

/* --Create & View-- */
.img-frame {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-out;
  overflow: hidden;
}

.img-frame img {
  object-fit: cover;
}

.img-frame::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--slide-cover-clr);
}

.img-frame::after {
  content: "";
  width: 5%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--slide-bar-clr);
}

.grid-item-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
}

.desc {
  justify-self: start;
  align-self: start;
  color: white;
  position: absolute;
  top: -15%;
  left: 7%;
}

.desc h2 {
  font-size: 1.5rem;
  margin-bottom: 1.7rem;
  transition: all 0.8s ease-out;
}

.desc strong {
  display: block;
  font-size: 3rem;
}

.desc p {
  width: 80%;
  font-size: 1.2rem;
  transition: all 0.8s ease-out 0.2s;
}

.desc h2::after,
.desc p::before {
  content: "";
  width: 65px;
  height: 4px;
  background: var(--speration-bars-clr);
  position: absolute;
}

.desc h2::after {
  bottom: -10px;
  left: 0px;
}

.desc p::before {
  top: -10px;
  left: 30px;
}

.btn {
  display: block;
  padding: 15px;
  width: 25vw;
  margin-top: 3rem;
  color: white;
  background-color: var(--btn-primary-clr);
  text-align: center;
  border-radius: 5rem;
  transition: all 0.8s ease-out 0.4s;
  box-shadow: 0px 3px 3px rgba(240, 240, 240, 0.2);
}

.btn:hover,
.btn:active {
  transform: scale(1.3);
}

/* scaling images when entering the page */
.scale {
  transform: scale(0.8);
  transition: transform 0.5s ease-out;
}

.scale.big {
  transform: scale(1);
}

.big::before {
  transform: translateX(100%);
  transition: transform 1s ease-out;
}

.big::after {
  transform: translateX(calc(100% * 20));
  transition: transform 1s ease-out;
}

/* css layout rules for tablets */
@media screen and (min-width: 400px) {
  /* general rules for each section */
  section {
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 1fr;
    grid-template-areas: "content image";
    justify-items: center;
    align-items: center;
  }

  #create::after {
    content: "01";
    position: absolute;
    bottom: 15vh;
    right: 7vw;
    color: white;
    font-size: 6rem;
    font-weight: 700;
    z-index: 2;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  #view::after {
    content: "02";
    position: absolute;
    bottom: 15vh;
    right: 7vw;
    color: white;
    font-size: 6rem;
    font-weight: 700;
    z-index: 2;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  /* css rules for landing page */
  #hero {
    grid-area: image;
    width: 90%;
    height: 90%;
  }

  #landing {
    grid-template-rows: 1fr;
  }

  .slogan {
    grid-area: content;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15rem;
  }

  .slogan h1 {
    font-size: 5rem;
  }

  .slogan p::before,
  .slogan h1::after {
    width: 7rem;
    height: 5px;
  }

  .slogan p {
    margin-top: 1rem;
    font-size: 2rem;
    width: 60%;
  }

  #arrow {
    top: -4vh;
    left: 0vw;
    right: unset;
    font-size: 1.5rem;
  }

  /* css rules for create page and view page */
  section .grid-item-container:first-child {
    width: 60vw;
    height: 90vh;
    grid-area: image;
    padding: 5vh 10vw 15vh 0vw;
  }

  section .grid-item-container:last-child {
    width: 40vw;
    height: 90vh;
    grid-area: content;
    padding: 0;
  }

  .desc {
    position: absolute;
    top: 5vh;
    left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .desc h2 {
    font-size: 3rem;
  }

  .desc h2 strong {
    font-size: 5rem;
  }

  .desc p {
    margin-top: 1rem;
    font-size: 1.4rem;
  }

  .btn {
    margin-top: 25vh;
  }
}

@media screen and (min-width: 800px) {
  .desc {
    left: 10vw;
    top: 10vh;
  }
  section .grid-item-container:last-child {
    width: 40vw;
    height: 90vh;
    grid-area: content;
    padding-left: 10vw;
    align-items: flex-start;
  }

  #section-bars {
    left: 0;
    top: 0;
    width: 10vw;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
  }

  .bar {
    width: 2.5vw;
    height: 0.5vh;
    background-color: white;
    margin: 3vh 0vw 3vh 2vw;
    cursor: pointer;
    transition: width 0.3s ease-out;
  }

  .bar.active {
    height: 0.5vh;
    width: 4vw;
  }

  #arrow {
    top: unset;
    bottom: 15vh;
    left: -4vw;
  }

  .slogan {
    padding-left: 10vw;
    margin: 0;
  }

  .slogan p {
    width: 80%;
  }

  .btn {
    width: 10vw;
  }
}

@media screen and (min-width: 1300px) {
  .slogan h1 {
    font-size: 6.5rem;
  }

  .slogan p {
    font-size: 2.5rem;
  }

  .slogan h1::after,
  .slogan p::before {
    height: 8px;
    width: 140px;
  }
  .slogan h2::after {
    bottom: -15px;
  }
  .slogan p::before {
    left: 80px;
    top: -15px;
  }

  .desc h2 {
    font-size: 3.5rem;
  }

  .desc h2 strong {
    font-size: 6.5rem;
  }

  .desc p {
    font-size: 2.5rem;
    width: 90%;
  }

  .desc h2::after,
  .desc p::before {
    height: 8px;
    width: 140px;
  }
  .desc h2::after {
    bottom: -15px;
  }
  .desc p::before {
    left: 80px;
    top: -15px;
  }

  .btn {
    font-size: 2rem;
    width: 15vw;
    margin-top: 50vh;
  }
}
