:root {
  --err-clr: #842029;
  --err-bg-clr: #f8d7da;
  --err-border: 2px solid #b47a7f;
  
  --gold-clr: #ffc75f;
  --gold-acvtive-clr: #ffdd81;
}

body {
  background-image: var(--gradient);
  background-size: 200%;
  animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

main {
  padding: 10vh 10vw 0 10vw;
  display: grid;
  justify-content: center;
}

fieldset {
  height: 65vh;
  width: 80vw;
  padding: 0rem 2rem;
  align-items: center;
  margin-top: 2vh;
  border: white solid;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 115px;
  overflow: hidden;
  justify-content: center;
}

.field label {
  width: 100%;
  position: relative;
}

.field input {
  border: none;
  outline: none;
  font-size: 20px;
  background: transparent;
  border-bottom: 3px solid black;
  justify-self: center;
}

label span {
  position: absolute;
  top: -22px;
  width: 100%;
  transition: all 0.3s ease;
}

label::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  top: -3px;
  transform: translateX(-100%);
  background-color: white;
  transition: all 0.3s ease;
}

.up {
  transform: translateY(-25px);
  font-size: 14px;
  color: white;
}

input:focus + label::after {
  transform: translateX(0px);
}

.error {
  margin-top: 0.5rem;
  color: #842029;
  background-color: var(--err-bg-clr);
  border: var(--err-border);
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: none;
  position: relative;
  width: 90%;
}

.active::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--err-bg-clr);
  position: absolute;
  top: -6px;
  left: 12px;
  transform: rotate(45deg);
  z-index: 2;
  border-top: var(--err-border);
  border-left: var(--err-border);
  border-radius: 2px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit {
  width: 40%;
  padding: 1rem 2rem;
  border: none;
  margin: 2rem;
  border-radius: 8px;
  background-color: var(--gold-clr);
  cursor: pointer;
  box-shadow: 0px 5px 7px rgba(240, 240, 240, 0.2);
  color: white;
  font-size: larger;
  transition: all 0.4s ease;
}

#submit:hover,
#submit:active {
  background-color: var(--gold-acvtive-clr);
  transform: scale(1.1);
}

main img {
  display: none;
}

@media screen and (min-width: 700px) {
  .error {
    width: 60%;
  }
}
@media screen and (min-width: 900px) {

  fieldset {
    width: 100%;
  }

  form {
    width: 40vw;
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  main img {
    display: unset;
    width: 45%;
    align-self: center;
  }

  .error {
    width: 90%;
  }

}

@media screen and (min-width: 1800px) {
  .error {
    width: 50%;
  }
}
