<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <footer th:fragment="footer">
    <link rel="stylesheet" href="/css/footer.css" />
    <div class="author">
      <p>&copy; 2021 Programming4 Group Work Created by:</p>
      <p>Wu Runfei, Liu Ying</p>
    </div>
    <div class="logo">
      <img src="/img/logo.svg" alt="logo" />
    </div>
    <div class="repo">
      <img src="/img/github.svg" alt="Github Icon" />
      <a href="https://github.com/JasonWurunfei/Programming4-groupwork/">
        Project Source Code
      </a>
    </div>
  </footer>
</html>
