<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css"/>
    <title>Message List - View</title>
  </head>

  <body>
    <div th:replace="header :: header" />
    <main>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Sender</th>
            <th>URL Address</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="message : ${messages}">
            <td th:text="${message.title}" />
            <td th:text="${message.content}" />
            <td th:text="${message.sender}" />
            <td th:text="${message.URLAddress}" />
          </tr>
        </tbody>
      </table>
    </main>
    <div th:replace="footer :: footer" />
  </body>
</html>
