<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/post.css"/>
    <title>Message List - Post</title>
  </head>
  <body>
    <div th:replace="header :: header" />
    <main>
      <form
        th:action="@{/message/save}"
        method="post"
        name="messageForm"
        onsubmit="return validateForm()"
      >
        <fieldset name="formData">
          <legend>Message Information</legend>

          <div class="field">
            <input type="text" name="title" autocomplete="off" id="title" />
            <label for="title"><span>Message Title:</span></label>
            <div class="error" id="titleErr"></div>
          </div>

          <div class="field">
            <input type="text" name="content" autocomplete="off" id="content" />
            <label for="content"><span>Message Content:</span></label>
            <div class="error" id="contentErr"></div>
          </div>

          <div class="field">
            <input type="text" name="sender" autocomplete="off" id="sender" />
            <label for="sender"><span>Message Sender:</span></label>
            <div class="error" id="senderErr"></div>
          </div>

          <div class="field">
            <input type="text" name="URLAddress" autocomplete="off" id="URLAddress" />
            <label for="URLAddress"><span>Message URL Address:</span></label>
            <div class="error" id="URLAddressErr"></div>
          </div>

        </fieldset>
        <input type="submit" id="submit" value="Submit" />
      </form>
      <img src="/img/hero.svg" alt="Aside image">
      <script src="/js/validate.js"></script>
    </main>

    <div th:replace="footer :: footer" />
  </body>
</html>
